.ModalContainer {
  width: 550px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-top: -400px;
}

.CloseButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.CloseButton button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
